name: Android Build

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Set Up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build Project
        run: ./gradlew assemble